.profile-form-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto; /* Centra el formulario verticalmente y deja un espacio de 50px arriba y abajo */
  text-align: left; /* Alinea todo el contenido a la izquierda */
  background-color: #ebf9eb; /* Agrega un fondo verde */
  
}
.containerFormulario{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.social-media-inputs{
    width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-button{
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.profile-form-container h2 {
  margin-top: 0;
  text-align: center; /* Centra el texto */
}

.profile-form-container p {
  margin-bottom: 20px;
}

.profile-form label {
  display: block;
  margin-bottom: 10px;
}

.profile-form input,
.profile-form textarea {
  width: 100%; /* Toma el 100% del ancho del contenedor */
  padding: 12px; /* Aumenta el tamaño del padding para hacer los campos de entrada más grandes */
  font-size: 18px; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Incluye el padding y el border en el ancho */
}

.profile-form textarea {
  resize: vertical;
}

.profile-form button {
  width: 100%; /* Ajusta el botón para que ocupe todo el ancho del contenedor */
  padding: 15px; /* Aumenta el tamaño del padding para hacer el botón más grande */
  font-size: 18px; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Añade un espacio superior para separar el botón del resto de los elementos */
  display: block; /* Cambia el botón a un elemento de bloque para que pueda centrarse */
  margin: 0 auto; /* Centra horizontalmente */
}

.profile-form button:hover {
  background-color: #0056b3;
}

