.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
  }
  
  .header-title {
    font-size: 1.5rem;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .nav-button {
    background-color: #ebf9eb;
    color: #060505;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-button {
    background-color: #ebf9eb;
    color: #0f0e0e;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  